@model List<UserListModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="mt-4 table table-hover table-bordered table-sm">
    <thead>
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td>Account Count</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td> <getAccountCount application-user-id="@item.ID"></getAccountCount> </td>
                <td>
                    <a asp-action="Create" asp-controller="Account" asp-route-id="@item.ID">Create a New Account</a>
                </td>
                <td>
                    <a asp-action="GetByUserId" asp-controller="Account" asp-route-userID="@item.ID">Get Accounts</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@foreach (var item in Model)
{
    
}